.carousel(data-flickity='{ "draggable": true, "prevNextButtons": false }')
  .carousel-cell
    .container
      .row
        .col-12
          .carousel-cell__0
  .carousel-cell
    .container
      .row
        .col-12
          .carousel-cell__1
  .carousel-cell
    .container
      .row
        .col-12
          .carousel-cell__2
