/**
 * Transitions
 */

$transition-base: all .2s ease-in-out !default;
$transition-opacity: opacity .2s ease !default;
$transition-visibility: visibility .2s !default;
$transition-height: height .2s !default;
