.header
  .container
    .row
      .col-12
        .header__logo
          img(src="../assets/img/sundown_logo.jpg" alt="logo")
          h1 Sundown

        #toggle.header__toggle-button
          span
          span
          span
        #overlay.header__overlay
          nav.header__overlay__menu
            ul
              li
                a(href='/') Home
              li
                a(href='/') About
              li
                a(href='/') Contact
