footer.footer
  section
    .container
      .row
        .col-md-5
          .footer__content
            h2 Sundown
            p 
              | Sundown
              br
              | Københavnvej 20
              br 
              | 2300 København
        .col-md-3.offset-md-1
          .footer__content
            h3 Åbningstider
            p 
              | Mandag   10 - 15
              br
              | Tirsdag  10 - 15
              br 
              | Onsdag   10 - 15
              br 
              | Torsdag  10 - 15
              br 
              | Fredag   10 - 15
        .col-md-3
          .footer__content
            h3 Genveje
            ul
              li
                a(href="" target="_blank") Virksomheden
              li
                a(href="" target="_blank") Cookie politik
              li
                a(href="" target="_blank") Cookie indstillinger
              li
                a(href="" target="_blank") Spørgsmål og svar
              li
                a(href="" target="_blank") Fortrolighedpolitik
              li
                a(href="" target="_blank") Ernæringsmæssige fakta
